@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>

<hr />

<p>Selecione uma opção no menu para iniciar</p> <br />

 <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Opção</a>

