
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Vendas</h1>


        <a asp-controller="Eventos" asp-action="IncluirEvento" class="btn btn-outline-primary">Incluir Novo Evento</a>
   
        <a asp-controller="Eventos" asp-action="ListarEventos" class="btn btn-outline-danger">Listar Eventos</a>
