
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Participantes</h1>

<hr />

<a asp-action="IncluirParticipante" asp-controller="Participantes" class="btn btn-outline-info">
    Incluir Participante
</a>

<a asp-action="ListarParticipantes" asp-controller="Participantes" class="btn btn-outline-primary">
    Listar Participantes por Evento
</a>